<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 justify-content-center">
                <h2>Add product</h2>
                {{#if productExistErr}}
                <p class="error text-danger">{{productExistErr}}</p>
                {{/if}}
                <form action="/admin/add-product" id="add-prod" method="post" enctype="multipart/form-data">
                    <label for="name">Name</label>
                    <input id="name" type="text" onkeyup="validateName()" name="name" class="form-control" >
                    <div id="name-error"></div>

                    <label for="category">Category</label>

                    <select name="category" class="form-control">
                        {{#each category}}
                        <option>{{this.category}}</option>
                        {{/each}}
                    </select>

                    <label for="price">Price</label>
                    <input type="number" id="price" name="price" onkeyup="validatePrice()" class="form-control" >
                    <div id="price-error"></div>


                    <label for="description">Description</label>
                    <input type="text" id="description" name="description" onkeyup="validateDescription()" class="form-control" >
                    <div id="description-error"></div>


                    <label for="stock">Stock</label>
                    <input type="number" id="stock" onkeyup="validateStock()" name="stock" class="form-control" >
                    <div id="stock-error"></div>


                    <label for="image">image</label>
                    <img src="" alt="" style="width: 100px;height:auto;"
                        id="imageview" class="pt-3">
                    <input type="file" id="myFile1" name="image" onkeyup="validateImage()" onchange="viewImage(event)" onclick="" class="form-control" >
                      <div id="image-error"></div>


                    <!-- cropping is done here -->
                    <div id="crop">
                        <div class="vald-info" id="info"></div>
                        <h5 class="error_form text-danger" id="image1_error_message"></h5>
                        <div style="display: flex">
                            <div id="image-box1" class="image-container clr" style="height: 300px; width: 20%">
                            </div>
                            <button type="button" class="btn btneds bg-success" id="crop-btn1"
                                style=" margin-top: 10px; display: none; width: 50%; margin: 20rem 0rem 0rem 0rem;">crop</button>
                        </div>
                    </div>

                    <label for="image1">image1</label>
                    <img src="/product-images/{{product._id}}.jpg" alt="" style="width: 100px;height:auto;"
                        id="imageview1" class="pt-3">
                    <input type="file" id="image2" name="image1" onkeyup="validateImage2()" onchange="viewImage1(event)" class="form-control" >
                    <div id="image-error2"></div>


                    <label for="image2">image2</label>
                    <img src="/product-images/{{product._id}}.jpg" alt="" style="width: 100px;height:auto;"
                        id="imageview2" class="pt-3">
                    <input type="file" id="image3" name="image2" onkeyup="validateImage3()" onchange="viewImage2(event)" class="form-control"  >
                    <div id="image-error3"></div>

                    <label for="image3">image3</label>
                    <img src="/product-images/{{product._id}}.jpg" alt="" style="width: 100px;height:auto;"
                        id="imageview3" class="pt-3">
                    <input type="file" id="image4" name="image3" onkeyup="validateImage4()" onchange="viewImage3(event)" class="form-control" >
                    <div id="image-error4"></div>
                    <button  onsubmit="formsubmit()" type="submit" class="btn btn-success mt-4">submit</button>

                </form>
            </div>
        </div>
    </div>
</section>
<script>
    function viewImage(event) {
        document.getElementById('imageview').src = URL.createObjectURL(event.target.files[0])
    }
    function viewImage1(event) {
        document.getElementById('imageview1').src = URL.createObjectURL(event.target.files[0])
    }
    function viewImage2(event) {
        document.getElementById('imageview2').src = URL.createObjectURL(event.target.files[0])
    }
    function viewImage3(event) {
        document.getElementById('imageview3').src = URL.createObjectURL(event.target.files[0])
    }
</script>

<script>
    const imagebox1 = document.getElementById("image-box1");
    const crop_btn1 = document.getElementById("crop-btn1");
    const input1 = document.getElementById("myFile1");

    // When user uploads the image this event will get triggered
    input1.addEventListener("change", () => {
        // Getting image file object from the input variable
        const img_data1 = input1.files[0];
        // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
        // The new object URL represents the specified File object or Blob object.
        const url1 = URL.createObjectURL(img_data1);
        // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
        imagebox1.innerHTML = `<img src="${url1}" id="image1" style="width:100%;">`;
        // Storing that cropping view image in a variable
        const image1 = document.getElementById("image1");
        // Displaying the image box
        document.getElementById("image-box1").style.display = "block";
        // Displaying the Crop buttton
        document.getElementById("crop-btn1").style.display = "block";
        // Hiding the Post button
        document.getElementById("myFile1").style.display = "block";
        const cropper1 = new Cropper(image1, {
            autoCropArea: 1,
            viewMode: 1,
            scalable: false,
            zoomable: false,
            movable: false,
            minCropBoxWidth: 50,
            minCropBoxHeight: 50,
        });
        // When crop button is clicked this event will get triggered
        crop_btn1.addEventListener("click", () => {
            // This method coverts the selected cropped image on the cropper canvas into a blob object
            cropper1.getCroppedCanvas().toBlob((blob) => {
                // Gets the original image data
                let fileInputElement1 = document.getElementById("myFile1");
                // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
                let file1 = new File([blob], img_data1.name, {
                    type: "image/*",
                    lastModified: new Date().getTime(),
                });
                // Create a new container
                let container1 = new DataTransfer();
                // Add the cropped image file to the container
                container1.items.add(file1);
                // Replace the original image file with the new cropped image file
                fileInputElement1.files = container1.files;
                document.getElementById("myFile1").src = URL.createObjectURL(
                    fileInputElement1.files[0]
                );
                // Hide the cropper box
                document.getElementById("image-box1").style.display = "none";
                // Hide the crop button
                document.getElementById("crop-btn1").style.display = "none";

            });
        });
    });
</script>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script>
    var nameError = document.getElementById('name-error');
    var priceError = document.getElementById('price-error');
    var descriptionError = document.getElementById('description-error');
    var stockError = document.getElementById('stock-error');

    // var imageError = document.getElementsByClassName('image-error');
    var imageError = document.getElementById('image-error');
    var imageError2 = document.getElementById('image-error2');
    var imageError3 = document.getElementById('image-error3');
    var imageError4 = document.getElementById('image-error4');

    // var passwordError = document.getElementById('password-error');

    function validateName() {
        var name = document.getElementById('name').value.trim();

        if (name.length == 0) {
            nameError.innerHTML = 'Name is Required';
            nameError.style.color = 'red'
            return false;
        }

        if (!name.match(/^[A-Za-z ]*$/)) {
            nameError.innerHTML = 'Write a FullName';
            nameError.style.color = 'red'
            return false;
        }
        if (name.length < 2) {
            nameError.innerHTML = 'Enter correct name';
            nameError.style.color = 'red'
            return false;
        }

        nameError.innerHTML = 'Name is valid';
        nameError.style.color = 'green'
        return true;
    }

    function validatePrice() {
        var price = document.getElementById('price').value.trim();

        if (price.length == 0) {
            priceError.innerHTML = 'Price is Required';
            priceError.style.color = 'red'
            return false;
        }
        if (!price.match(/^[0-9 ]*$/)) {
            priceError.innerHTML = 'Enter numbers only';
            priceError.style.color = 'red'
            return false;
        }
        priceError.innerHTML = 'valid';
        priceError.style.color = 'green'
        return true;
    }

        function validateStock() {
        var stock = document.getElementById('stock').value.trim();

        if (stock.length == 0) {
            stockError.innerHTML = 'stock is Required';
            stockError.style.color = 'red'
            return false;
        }
        if(stock <0){
            stockError.innerHTML = 'Enter valid number';
            stockError.style.color = 'red'
            return false;
        }
        if (!stock.match(/^[0-9 ]*$/)) {
            stockError.innerHTML = 'Enter numbers only';
            stockError.style.color = 'red'
            return false;
        }
        stockError.innerHTML = 'valid';
        stockError.style.color = 'green'
        return true;
    }


    function validateDescription() {
        var description = document.getElementById('description').value.trim();

        if (description.length == 0) {
            descriptionError.innerHTML = 'Description is Required';
            descriptionError.style.color = 'red'
            return false;
        }
     
        descriptionError.innerHTML = 'valid';
        descriptionError.style.color = 'green'
        return true;
    }

    function validateImage() {
        var images = document.getElementById('myFile1').value.trim();

        if (images.length == 0) {
            imageError.innerHTML = 'Select an image';
            imageError.style.color = 'red'
            return false;
        }
        imageError.innerHTML = 'valid';
        imageError.style.color = 'green'
        return true;

    }

    function validateImage2() {
        var images2 = document.getElementById('image2').value.trim();

        if (images2.length == 0) {
            imageError2.innerHTML = 'Select an image';
            imageError2.style.color = 'red'
            return false;
        }
        imageError2.innerHTML = 'valid';
        imageError2.style.color = 'green'
        return true;

    }

    function validateImage3() {
        var images3 = document.getElementById('image3').value.trim();

        if (images3.length == 0) {
            imageError3.innerHTML = 'Select an image';
            imageError3.style.color = 'red'
            return false;
        }
        imageError3.innerHTML = 'valid';
        imageError3.style.color = 'green'
        return true;

    }

    function validateImage4() {
        var images4 = document.getElementById('image4').value.trim();

        if (images4.length == 0) {
            imageError4.innerHTML = 'Select an image';
            imageError4.style.color = 'red'
            return false;
        }
        imageError4.innerHTML = 'valid';
        imageError4.style.color = 'green'
        return true;

    }



    $(document).on("submit", "form", function (e) {
        validateName()
        validatePrice()
        validateDescription()
        validateStock()
        validateImage()
        validateImage2()
        validateImage3()
        validateImage4()
        if (validateName() && validatePrice() && validateDescription() && validateImage() && validateImage2() && validateImage3() && validateImage4() && validateStock()) {
        } else {
            e.preventDefault();
         //   alert('Invalid data!');
            return false;
        }
    });
</script>