











<link href="/assets/css/bootstrap-2.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<!-- Template Stylesheet -->
<link href="/assets/css/style3.css" rel="stylesheet">

<body>
    <div class="container-fluid position-relative d-flex p-0">

        {{!-- <h1>hello {{adminsession.email}}</h1> --}}
        <div class="container-fluid pt-4 px-2">
            <div class="row g-4">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-1">
                                    <i class="pe-7s-cash"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">{{userCount}}</span></div>
                                        <div class="stat-heading">Tottal Users</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-1">
                                    <i class="pe-7s-cash"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">{{productCount}}</span></div>
                                        <div class="stat-heading">Total Products</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-1">
                                    <i class="pe-7s-cash"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">{{orderCount}}</span></div>
                                        <div class="stat-heading">Tottal Orders</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-1">
                                    <i class="pe-7s-cash"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">{{cancelCount}}</span></div>
                                        <div class="stat-heading">Cancelled Orders</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-1">
                                    <i class="pe-7s-cash"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text">₹<span class="count">{{dailyRevenue}}</span></div>
                                        <div class="stat-heading">Daily Revenue</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-1">
                                    <i class="pe-7s-cash"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text">₹<span class="count">{{weeklyRevenue}}</span></div>
                                        <div class="stat-heading">weakly Revenue</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-1">
                                    <i class="pe-7s-cash"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text">₹<span class="count">{{yearlyRevenue}}</span></div>
                                        <div class="stat-heading">Yearly Revenue</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-1">
                                    <i class="pe-7s-cash"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text">₹<span class="count">{{totalRevenue}}</span></div>
                                        <div class="stat-heading">Tottal Revenue</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="" style="width:100%">
                <div class="container-fluid  ">
                    <div class="row mt-5 ">
                        <style>
                            * {
                                margin: 0;
                                padding: 0;
                                font-family: sans-serif;
                            }

                            .chartMenu {
                                width: 100vw;
                                height: 40px;
                                background: #1A1A1A;
                                color: rgba(255, 26, 104, 1);
                            }

                            .chartMenu p {
                                padding: 10px;
                                font-size: 20px;
                            }

                            .chartCard {
                                width: 100%;
                                height: calc(100vh - 40px);
                                background: rgb(139 139 139 / 20%);
                                background: rgb(0 0 0 / 20%);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            .chartBox {
                                width: 700px;
                                padding: 20px;
                                border-radius: 20px;
                                border: solid 3px rgba(255, 26, 104, 1);
                                background: white;
                            }
                        </style>
                        </head>

                        <body>

                            <div class="chartCard">
                                <div class="chartBox">
                                    <canvas id="daily"></canvas>
                                </div>
                            </div>
                            <div class="chartCard">
                                <div class="chartBox">
                                    <canvas id="weekly"></canvas>
                                </div>
                            </div>
                            <div class="chartCard">
                                <div class="chartBox">
                                    <canvas id="yearly"></canvas>
                                </div>
                            </div>
                            <div class="chartCard">
                                <div class="chartBox">
                                    <canvas id="total"></canvas>
                                </div>
                            </div>
                            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                            <script>
                                // DAILY 
                                var data = {
                                    labels: ['Today'],
                                    datasets: [{
                                        label: 'Daily Sales',
                                        data: [{{
                                            dailyRevenue
                                        }}],
                                    backgroundColor: [
                                        'rgba(255, 26, 104, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)',
                                        'rgba(0, 0, 0, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 26, 104, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)',
                                        'rgba(0, 0, 0, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                                    };

                                // config 
                                var config = {
                                    type: 'bar',
                                    data,
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                };

                                // render init block
                                var myChart = new Chart(
                                    document.getElementById('daily'),
                                    config
                                );

                                //WEEKLY
                                var data = {
                                    labels: [1, 2, 3, 4, 5, 6, 7,],
                                    datasets: [{
                                        label: 'Weekly Sales',
                                        data: [{{ weeklyRevenue }}],
                                    backgroundColor: [
                                        'rgba(255, 26, 104, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)',
                                        'rgba(0, 0, 0, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 26, 104, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)',
                                        'rgba(0, 0, 0, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                                    };

                                // config 
                                var config = {
                                    type: 'bar',
                                    data,
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                };

                                // render init block
                                var myChart = new Chart(
                                    document.getElementById('weekly'),
                                    config
                                );

                                //YEARLY
                                var data = {
                                    labels: [new Date().getFullYear()],
                                    datasets: [{
                                        label: 'Yearly Sales',
                                        data: [{{ yearlyRevenue }}],
                                    backgroundColor: [
                                        'rgba(255, 26, 104, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)',
                                        'rgba(0, 0, 0, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 26, 104, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)',
                                        'rgba(0, 0, 0, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                                };

                                // config 
                                var config = {
                                    type: 'bar',
                                    data,
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                };

                                // render init block
                                var myChart = new Chart(
                                    document.getElementById('yearly'),
                                    config
                                );

                                //TOTAL REVENUE
                                var data = {
                                    labels: ['Total Revenue'],
                                    datasets: [{
                                        label: 'Total Revenue',
                                        data: [{{ totalRevenue }}],
                                    backgroundColor: [
                                        'rgba(255, 26, 104, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)',
                                        'rgba(0, 0, 0, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 26, 104, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)',
                                        'rgba(0, 0, 0, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                                };

                                // config 
                                var config = {
                                    type: 'bar',
                                    data,
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                };
                                // render init block
                                var myChart = new Chart(
                                    document.getElementById('total'),
                                    config
                                );
                            </script>
                    </div>
                </div>
            </div>

            <section class=" py-5 mx-3 container-fluid" style="    background: rgb(0 0 0 / 20%);">
                <div class="row">
                    <div class="ms-auto me-auto bg-white mb-5"
                        style="width: 60%; border-radius: 20px; border: solid 3px rgba(255, 26, 104, 1);">
                        <canvas id="bar-chart"></canvas>
                    </div>
                    <div class="col-lg-5 mt-5 ms-auto me-auto bg-white "
                        style="width: 60%; border-radius: 20px; border: solid 3px rgba(255, 26, 104, 1);">
                        <canvas id="circle-chart"></canvas>
                    </div>
                </div>
                <div class="col-lg-5" style="width: 100%;">
                    <canvas id="finalchart"
                        style="display: block; box-sizing: border-box; height: 310px; width: 450px;"></canvas>
                </div>
            </section>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

        <script>
            let monthName = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
            let monthlyProfit = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
            let weekly = [0, 0, 0, 0, 0, 0, 0]
            let weekName = ["Sunday", "Monday", "Tuesday", "WednesDay", "Thursday", "Friday", "Saturday"]
            let paymethod = ["Paypal", "Razorpay", "Cash on Delivery"]
            let payamount = [0, 0, 0]
            let barChart = document.getElementById("bar-chart").getContext('2d')
            let circleChart = document.getElementById("circle-chart").getContext('2d')
            let finalchart = document.getElementById("finalchart").getContext('2d')
            document.addEventListener('DOMContentLoaded', () => {
                console.log("haiii")
                fetch('/admin/chart-data',
                    {
                        method: 'get',
                        credentials: 'include',
                        headers: { 'Content-Type': 'application/json' }
                    }).then(res => res.json()).then(res => {
                        let { data, weeklyReport } = res;
                        for (i = 0; i < data.length; ++i) {
                            switch (data[i].month) {
                                case 1:
                                    monthlyProfit[0] = data[i].total
                                    break;
                                case 2:
                                    monthlyProfit[1] = data[i].total
                                    break;
                                case 3:
                                    monthlyProfit[2] = data[i].total
                                    break;
                                case 4:
                                    monthlyProfit[3] = data[i].total
                                    break;
                                case 5:
                                    monthlyProfit[4] = data[i].total
                                    break;
                                case 6:
                                    monthlyProfit[5] = data[i].total
                                    break;
                                case 7:
                                    monthlyProfit[6] = data[i].total
                                    break;
                                case 8:
                                    monthlyProfit[7] = data[i].total
                                    break;
                                case 9:
                                    monthlyProfit[8] = data[i].total
                                    break;
                                case 10:
                                    monthlyProfit[9] = data[i].total
                                    break;
                                case 11:
                                    monthlyProfit[10] = data[i].total
                                    break;
                                case 12:
                                    monthlyProfit[11] = data[i].total
                                    break;
                            }
                        }
                        console.log(monthlyProfit)
                        console.log(weeklyReport)
                        const months = monthName;
                        const data1 = {
                            labels: months,
                            datasets: [{
                                label: 'Monthly sales',
                                backgroundColor: "red",
                                borderColor: 'rgb(255, 99, 132)',
                                data: monthlyProfit,
                            }]
                        };
                        const monthlyconfig = {
                            type: 'bar',
                            data: data1,
                            options: {}
                        };
                        let chart1 = new Chart(barChart, monthlyconfig)

                        for (i = 0; i < weeklyReport.length; ++i) {
                            switch (weeklyReport[i].date) {
                                case 1:
                                    weekly[0] = weeklyReport[i].total
                                    break;
                                case 2:
                                    weekly[1] = weeklyReport[i].total
                                    break;
                                case 3:
                                    weekly[2] = weeklyReport[i].total
                                    break;
                                case 4:
                                    weekly[3] = weeklyReport[i].total
                                    break;
                                case 5:
                                    weekly[4] = weeklyReport[i].total
                                    break;
                                case 6:
                                    weekly[5] = weeklyReport[i].total
                                    break;
                                case 7: weekly[6] = weeklyReport[i].total
                                    break;

                            }
                        }

                        //weekly sales
                        const labels = weekName;
                        const data2 = {
                            labels: labels,
                            datasets: [{
                                label: 'Weekly sales',
                                backgroundColor: 'red',
                                borderColor: 'red',
                                data: weekly,
                            }]
                        };
                        const config = {
                            type: 'bar',
                            data: data2,
                            options: {}
                        };
                        let chart2 = new Chart(circleChart, config)
                        {
                            {
                                
            for (i = 0; i < weeklyReport.length; ++i) {
                                    switch (weeklyReport[i].method) {
                                        case 1:
                                            payamount[0] = weeklyReport[i].total
                                            break;
                                        case 2:
                                            payamount[1] = weeklyReport[i].total
                                            break;
                                        case 3:
                                            payamount[2] = weeklyReport[i].total
                                            break;
                                    }
                                }
                                const paymentmethod = paymethod;
                                const data3 = {
                                    labels: paymentmethod,
                                    datasets: [{
                                        label: 'Payment Methods',
                                        backgroundColor: "green",
                                        borderColor: 'rgb(255, 99, 132)',
                                        data: payamount,
                                    }]
                                };
                                const config = {
                                    type: 'line',
                                    data: data3,
                                    options: {}
                                };
                                let chart3 = new Chart(finalchart, config)--
                            }
                        }
                    })
            })
        </script>
    </div>
    </div>
</body>